.page {
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  font-family: Inter, Arial, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.popup {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.popup_opened {
  display: flex;
}

.popup__container {
  background-color: #fff;
  padding: 36px;
  margin: auto;
  min-width: 358px;
  max-height: 330px;
  border-radius: 10px;
  position: relative;
}

.popup__form {
  display: flex;
  flex-direction: column;
}

.popup__heading {
  margin: 0 0 40px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.popup__field {
  padding: 12px 0;
  margin-bottom: 18px;
  border: none;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__field:focus {
  outline: 1px solid #000
}

.popup__close-button {
  border: 0;
  padding: 0;
  background-image: url("../../images/close-icon.png");
  background-color: transparent;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}
.popup__close-button:hover {
  opacity: 0.6;
}

.popup__save-button {
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #000000;
  border: 0;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.popup__save-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.header {
  padding: 45px 0 0;
  max-width: 880px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.logo {
  background-image: url("../../images/logo_size_l.png");
  width: 173px;
  height: 33px;
  margin-bottom: 41px;
}

.profile {
  padding: 40px 0 0;
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.profile__content {
  display: flex;
  align-items: center;
}
.avatar {
  background-image: url("../../images/profile-pic.jpg");
  width: 120px;
  height: 120px;
  border-radius: 120px;
  margin-right: 30px;
}

.profile__title-edit {
  display: flex;
  align-items: center;
}
.profile__title {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}
.profile__subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
}
.profile__edit-button {
  margin-left: 25px;
  width: 24px;
  height: 24px;
  background-image: url("../../images/edit-btn-icon.png");
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
.profile__edit-button:hover {
  opacity:  0.6;
}
.profile__add-button {
  width: 150px;
  height: 50px;
  background-image: url("../../images/add-btn_size_s.png");
  background-repeat: no-repeat;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
.profile__add-button:hover {
  opacity:  0.6;
}

.places {
  padding: 50px 0 0;
  margin: 0 auto;
  max-width: 880px;
  display: grid;
  gap: 20px 17px;
  grid-template-columns: repeat(3, minmax(282px, 1fr));
}
.place {
  margin: 0;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  display: grid;
  grid-template-areas:
  "image image"
  "title love";
  grid-template-columns: 1fr 40px;
}

.place__image {
  width: 100%;
  height: 100%;
  max-width: 282px;
  max-height: 282px;
  border-radius: 10px 10px 0px 0px;
  grid-area: image;
}

.place__title {
  margin: 0;
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  grid-area: title;
  padding: 25px 0px 31px 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.place__love-button {
  background-image: url("../../images/love-btn.png");
  width: 21px;
  height: 19px;
  border: 0;
  background-color: transparent;
  grid-area: love;
  align-self: center;
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.place__love-button:hover {
  opacity: 0.5;
}

.place__love-button:active {
  opacity: 1;
  background-image: url("../../images/love-btn_active.png");
}

.footer {
  padding: 68px 0 60px;
  margin: 0 auto;
  max-width: 880px;
}
.footer__copyright {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}



@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding: 27px 27px 32px;
  }

  .logo {
    background-image: url("../../images/logo_size_s.png");
    width: 126px;
    height: 24px;
    margin-bottom: 0;
  }

  .profile {
    flex-direction: column;
    max-width: 600px;
  }

  .places {
    max-width: 600px;
    grid-template-columns: repeat(2, minmax(282px, 1fr));
  }

  .place {
    max-width: 282px;
  }

  .footer {
    padding: 30px 0 36px;
    margin: 0 auto;
    max-width: 600px;
  }
}

@media screen and (max-width: 767px) {

  .header {
    padding: 27px 27px 32px;

  }

  .logo {
    background-image: url("../../images/logo_size_s.png");
    width: 126px;
    height: 24px;
    margin-bottom: 0;
  }

  .popup__container {
    padding: 22px;
    min-width: 238px;
    min-height: 278px;
  }

  .popup__close-button {
    background-image: url("../../images/close-icon_size_s.png");
    width: 26px;
    height: 26px;
    top: -40px;
    right: 0;

  }

  .profile {
    flex-direction: column;
  }
  .profile__content {
    width: 100%;
    flex-direction: column;

  }
  .avatar {
    margin: 0 auto 30px;
  }

  .profile__title {
    font-size: 22px;
    line-height: 27px;
    text-align: center;
  }

  .profile__title-edit {
    margin: 0 auto 14px;
  }

  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }

  .profile__edit-button {
    margin-left: 10px;
    width: 18px;
    height: 18px;
    background-image: url("../../images/edit-btn_size_s.png");
  }

  .profile__add-button {
    background-image: url("../../images/add-btn_size_l.png");
    margin: 36px auto 0;
    width: 282px;
    height: 50px;
  }

  .places {
    padding: 36px 0 0;
    display: block;

  }
  .place {
    margin: 0 auto 20px;
    max-width: 282px;
  }
  .footer {
    padding: 30px 0 36px;
    margin: 0 auto;

  }
  .footer__copyright {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
  }
}
