.place__love-button {
  background-image: url("../../../images/love-btn.png");
  width: 21px;
  height: 19px;
  border: 0;
  background-color: transparent;
  grid-area: love;
  align-self: center;
  right: 15px;
  cursor: pointer;
}

.place__love-button:hover {
  opacity: 0.5;
}

